.post {
    width: 60%;
    margin: auto;
    padding: 100px 0;
}

.title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.img {
    margin: 50px 0;
    width: 100%;
    display: block;
}

.descr {
    font-size: 28px;
    text-align: center;
}

.date {
    margin-top: 20px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.76);
}